# Performing LinearRegression to predict Shelf Life of Apple Fruit

In [ ]:
# import numpy for creating arrays
# import sklearn's LinearRegression class 

import numpy as np
from sklearn.linear_model import LinearRegression

In [ ]:
#import pandas
import pandas as pd

In [14]:
df=pd.read_csv('shelf.csv')
df

     Day  Level   Color
0   day1      1  44.101
1   day1      1  45.893
2   day1      1  44.355
3   day1      1  43.893
4   day1      1  40.779
5   day2      2  35.746
6   day2      2  36.064
7   day2      2  38.119
8   day2      2  40.876
9   day2      2  40.838
10  day3      3  30.443
11  day3      3  31.861
12  day3      3  32.777
13  day3      3  30.557
14  day3      3  32.321
15  day4      4  29.632
16  day4      4  28.384
17  day4      4  28.272
18  day4      4  27.485
19  day4      4  29.294
20  day5      5  20.722
21  day5      5  21.014
22  day5      5  19.228
23  day5      5  19.293
24  day5      5  20.734

In [7]:
x=df[['Level']]
y=df['Color']

In [8]:
# create an object of the model of LinearRegression()
model = LinearRegression()
# fitting the model to x and y
model.fit(x, y)

LinearRegression()

In [10]:
# Printing the performance of model in terms of r squared value
r_sq = model.score(x, y)
print('coefficient of determination:', r_sq)

coefficient of determination: 0.9565342918916269

In [11]:
# Printing intercept and slope calculated by the system
print('intercept:', model.intercept_)
print('slope:', model.coef_)

intercept: 49.5854
slope: [-5.69272]

In [12]:
# Response predicted using internal predict() function
y_pred = model.predict(x)
print('predicted response using builtin predict() function:', y_pred, sep='\n')

predicted response using builtin predict() function:
[43.89268 43.89268 43.89268 43.89268 43.89268 38.19996 38.19996 38.19996
 38.19996 38.19996 32.50724 32.50724 32.50724 32.50724 32.50724 26.81452
 26.81452 26.81452 26.81452 26.81452 21.1218  21.1218  21.1218  21.1218
 21.1218 ]

In [13]:
#Response predicted using manual calculation on intercept and coefficient
y_pred = model.intercept_ + model.coef_ * x
print('predicted response using manual calculation on intercept and coefficients:', y_pred, sep='\n')

predicted response using manual calculation on intercept and coefficients:
       Level
0   43.89268
1   43.89268
2   43.89268
3   43.89268
4   43.89268
5   38.19996
6   38.19996
7   38.19996
8   38.19996
9   38.19996
10  32.50724
11  32.50724
12  32.50724
13  32.50724
14  32.50724
15  26.81452
16  26.81452
17  26.81452
18  26.81452
19  26.81452
20  21.12180
21  21.12180
22  21.12180
23  21.12180
24  21.12180

In [ ]:
#As we are getting the value predicted by system and by manual calculation our prediction is right